table, tr, th {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    padding: 5px 5px 5px 10px;
}

td {
    padding: 10px;
}

.name-order {
    background-color: #EC407A;
}

.name-order.delivered {
    background-color: #66BB6A;
}

.list-order {
    background-color: #F3E5F5;
    background-size: 80%;
}

.list-order.delivered {
    background-color: #F0F4C3;
}

.list-order td:first-child {
    padding-left: 10%;
}

.price {
    text-align: right;
    padding-right: 20px;
}