#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33vw;
    margin : 5vh;
    border-radius: 3px;
    box-shadow: 0 1px 4px #ccc;
    border: 1px solid #fff;
    padding: 20px;
}

@media (max-width: 767px) {
    #admin {
        width: calc(100vw - 10px);
        margin: 0;
        margin-top: 5vh;
        padding: 5px;
    }
}

table {
    margin-bottom: 20px;
}

table, tr, th {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    padding: 5px 5px 5px 10px;
}

td, th {
    padding: 10px;
}

table thead tr {
    background-color: #EC407A;
}

table tbody tr {
    background-color: #F3E5F5;
    background-size: 80%;
}

table tr td:last-child {
    text-align: center;
}

table tfoot tr {
    background-color: #CE93D8;
}

input, textarea, select {
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    padding: 5px;
    width: 50%;
    display: inline-block;
}

textarea {
    min-height: 10em;
}

.color-red {
    color: #F44336;
}

.color-blue {
    color: #2196F3;
}

.margin-pencil {
    margin-right: 5px;
}

form {
    margin-bottom: 0;
}

input {
    min-height: 2em;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    padding: 5px;
    width: 50%;
    display: inline-block;
}

label {
    font-size: small;
    font-weight: bold;
    padding: 5px;
    width: 30%;
    display: inline-block;
    text-align: right;
}

.form-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-submit:hover {
    cursor: hand;
}

.form-submit .button {
    margin-top: 20px;
}


.head {
    background-color: #6A1B9A;
    width: calc(100% - 40px);
    padding: 20px;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.obligatoire{
    color:red;
}

.missing-field {
    text-align: center;
    font-size: small;
    color: red;
    font-weight: bold;
    width: 50%;
    margin: 0 0 0 calc(30% + 1.5em);
}

.error-message {
    text-align: center;
    font-size: medium;
    margin: 0 0 20px;
    color: red;
}

.admin-menu {
    width: calc(100% - 20px);
    background-color: #263238;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom : 20px;
}

.admin-menu div {
    margin-right: 20px;
}

@media (max-width: 767px) {
    .admin-menu {
        flex-direction: column;
    }
    .admin-menu div:not(:first-child) {
        margin-right: 0;
        margin-top: 10px;
    }
}

.no-button {
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    font-size: small;
}

.image-product {
    width: 33vw;
    margin-top: 20px;
}