body {
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', sans-serif;
}

.row{
    width: 100%;
}

#navbar {
    background-color: #263238;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin : 0;
    padding: 0;
    height: 10vh;
    min-height: 90px;
}

#navbar .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar .row.menu {
    height: 5vh;
    min-height: 50px;
}

#navbar .row div {
    display: inline-flex;
}

#navbar .row .logo {
    height: 90px;
    width: 200px;
    background-size: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
}

#navbar .row .logo img {
    height: 100%;
    width: 100%;
}

@media(max-width:767px) {
    #navbar .row .logo {
        display: none;
    }
}

@media(min-height: 1000px) {
    #navbar .row .logo {
        height: 10vh;
    }
}

#navbar .row .user {
    margin-left: calc(20px);
}

@media(min-width: 767px) {
    #navbar .row .logo {
        margin-left: 10vw;
    }

    #navbar .row .user {
        margin-left: calc(10vw + 220px);
    }
}

#navbar .row .user div:not(:first-child) {
    margin-left: 20px;
}

#navbar .row  .fa {
    margin-right: 5px;
}

#navbar .row .cart {
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 20px;
}

#order-process {
    background-color: #FFCC80;
    height: 5vh;
    min-height: 40px;
}

#order-process .step {
    background-color: #FFCC80;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position:relative;
    margin-right: 5vh;
    z-index: 2;
    padding-right: 60px;
    padding-left: 60px;
    text-align: center;
    text-transform: uppercase;
}

#order-process .step:before {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -20px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #ecf0f1;
    z-index: 4;
}

#order-process .step:after {
    content: '';
    display: block;
    position: absolute;
    left: calc(100% - 1px);
    top: 50%;
    margin-top: -20px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #FFCC80;
    z-index: 5;
}

@media(min-height: 1000px) {

    #order-process .step {
        height: 5vh;
    }

    #order-process .step:before {
        margin-top: -2.5vh;
        border-top: 2.5vh solid transparent;
        border-right: 2.5vh solid transparent;
        border-bottom: 2.5vh solid transparent;
    }

    #order-process .step:after {
        margin-top: -2.5vh;
        border-top: 2.5vh solid transparent;
        border-right: 2.5vh solid transparent;
        border-bottom: 2.5vh solid transparent;
    }
}

#order-process .step.active {
    background-color: #F57C00;
    margin-left: -5vh;
    padding-left: calc(5vh + 60px);
    z-index: 1;
}

#order-process .step:not(:last-child).active:nth-child(odd) {
    z-index: 2;
}

#order-process .process .step:first-child {
    padding-left: calc(10vw + 260px + 5vh);
}

#order-process .step.active:after {
    border-left-color: #F57C00;
}

@media(max-width: 1170px) {
    #order-process .step {
        font-size: small;
    }
}

@media(max-width: 970px) {
    #order-process .step:not(.active) {
        display: none;
    }
    #order-process .step {
        padding-left: 50vw!important;
    }
}

#container {
    width: 100vw;
    margin: 0;
    padding: 0;
    min-height: 85vh;
    margin-top: 10vh
}

@media(max-height: 1000px) {
    #container {
        margin-top: 90px;
        min-height: calc(100vh - 150px);
        margin-bottom: 50px;
    }
}

#footer {
    background-color: #263238;
    color: #95a5a6;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin : 0;
    padding: 0;
    height: 5vh;
    min-height: 50px;
    text-align: center;
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#container {
    min-height: 80%;
}

.button {
    background-color: #66BB6A;
    padding: .25em 1em;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 0;
    font-size: medium;
}

.button:hover {
    background-color: #4CAF50;
}

.btn-lg {
    padding: .5em 2em;
}

.no-link, .no-link:hover{
    text-decoration: none;
    color: white;
}

.form-control {
    margin-top: 0.25em;
}

.info {
    background-color: #E8F5E9;
    border-width: 1px;
    border-style: solid;
    border-color: #A5D6A7;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #607D8B;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info .type {
    margin-left: 5px;
    margin-right: 10px;
    color: #388E3C;
}

@media (min-width: 767px) {
    .hidden-sm {
        display: none!important;
    }
}

.validInput {
    border: #4CAF50 solid 1px;
}

.errorInput {
    border: #F44336 solid 1px;
}


