select {

	font-size : 30px ;
	font-family: Garamond ;
	border-color:#666699;
	border-radius :  5px ;
	color : #990099;
	margin-right: 50%;
}


.title1 {
	font-size : 40px ;
	font-family: Garamond ;
}

/*
#container {
	margin-top: 25%;
	position: absolute;
	left :25em;
	top : -15em;
	
}*

#container2 {
	margin-top: 25%;
	position: absolute;
	left :50em;
	top : -15em;
	
}*/


.product{
	
	margin-top: 100px;
	display: flex;
	border-right-style:groove;
	flex-direction: column;
	justify-content:flex-start;
    align-items:center;
    width:250px;
    height:300px;
    
}

.product:hover{
	 box-shadow: 1px 1px 12px #555;
}


.product .add_sup{
	display:flex;
	flex-direction: row;
	justify-content:center;
    align-items: center;
    margin-bottom: 30px;
    font-size: large;
    font-weight: bold;
}

.product .add_sup .command {
	display: flex;
}


.product .title{

	color :#6A1B9A;
	font-family:Verdana, Geneva, sans-serif;
	flex-direction: row;
	justify-content:center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
}

.product .description{

	display: flex;
	color : #424242;
	font-family: lucida;
	justify-content:center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 13px;
    font-family: Arial, serif;
}

.product .prix{

	display: flex;
	color :#6A1B9A;
	justify-content:center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, serif;
}

.button{
	background-color: green;
	border-right-style:groove;

}

.command{
	font-family: Verdana, Geneva, sans-serif;


}


.product_number{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;

}