#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {
    display: flex;
    border: 1px solid #E0E0E0;
    margin: 10px 10px 10px 0;
    justify-content:flex-start;
    align-items:center;
    padding-left: 20px;
    padding-top: 10px;
    flex-direction: column;
    padding-right: 20px;
}

.product:hover {
    box-shadow: 1px 1px 12px #555;
}


.product .add_sup {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-bottom: 30px;
    font-size: large;
    font-weight: bold;
}

.product .add_sup .command {
    display: flex;
}


.product .title {
    color :#6A1B9A;
    font-family:Verdana, Geneva, sans-serif;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
}

.product .description {
    display: flex;
    color : #424242;
    justify-content:center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 13px;
    font-family: Arial, serif;
}

.product .prix {
    display: flex;
    color :#6A1B9A;
    justify-content:center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, serif;
}

.button {
    background-color: #66BB6A;
    border-right-style: groove;
}

.command {
    font-family: Verdana, Geneva, sans-serif;
}

.product_number {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

}

.content-categorie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: calc(50vw + 320px);
}

.content-categorie .categorie {
    background-color: #DDA0DD;
    width: 33%;
    padding: 0.5em;
    margin-top: 20px;  
    text-align: center;
    text-transform: uppercase;
    color : white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-categorie .categorie:hover {
    box-shadow: 1px 1px 12px #DDA0DD;
    background-color: purple;
}

.content-categorie .active {
 	background-color: purple; 
}

.full {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 0;
    width: 50vw;
}

@media(max-width: 767px) {

    .content-categorie {
        width: 90vw;
    }

    .full {
        width: 90vw;
        order: 2;
        justify-content: center;
    }

    .margin-top-row {
        flex-direction: column!important;
        align-items: center;
    }

    .right-cart {
        order: 1;
        margin-bottom : 20px;
        margin-left: 0!important;
        align-self: center!important;
    }
}

.text_pickup {
    display:block ;
    width: 80%;
    font-size: small;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #BDBDBD;
}


.text_resume {
    display:block ;
    float:left;
    width: 80%;
    font-size: small;
}

.text_resume table {
    font-size: small;
    width: 100%;
}

.button_order {
    background-color: #66BB6A;
    border-right-style:groove;
    margin-bottom: 20px;
}

.button {
    margin-left: 10px;
}


.prod_plus {
    color: green;
    margin: 7px;
}

.prod_minus {
    color :green;
}

.prod_cancel {
    color: red;
    margin-left: 10px;
}

.title3 {
    display: flex;
    width: 80%;
    height: 20%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #DDA0DD;
    color :white;
    font-size: 140%;
    text-transform: uppercase;
    margin-top: 20px;
}

.title3:hover {
    box-shadow: 1px 1px 12px #555;
}

.right-cart {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    width:250px;
    margin-left: 70px;
    align-self: flex-start;
    box-shadow: 1px 1px 12px #BDBDBD;
}

.right-cart:hover {
    box-shadow: 1px 1px 12px #9E9E9E;
}

.right-cart .top, .right-cart .bottom {
    display: flex;
    width: 100%;
    height: 3em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #E91E63;
    color :white;
    font-size: large;
    text-transform: uppercase;
}

.right-cart .top {
    margin-bottom: 20px;
}

.right-cart .bottom {
    margin-top: 20px;
}

.title2:hover {
    box-shadow: 1px 1px 6px #DDA0DD;
}

.margin-top-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.margin-top-row {
    margin-top: 100px;
}

@media(max-height: 1000px) {
    .margin-top-row {
        margin-top: 50px;
    }
}
