#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33vw;
    margin : 5vh;
    border-radius: 3px;
    box-shadow: 0 1px 4px #ccc;
    border: 1px solid #fff;
    padding: 20px;
    padding-bottom: 0;
}

.title{
    background-color: #6A1B9A;
    width: calc(100% - 40px);
    padding: 20px;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titre{
    background-color: #6A1B9A;
    width: 60%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media(max-width: 767px) {
    .titre {
        width: calc(100% - 40px);
    }
}


.name{
    background-color: white;
    width: calc(100% - 40px);
    padding: 20px;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}

.name .list_product{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 28%;
    height: 7%;
    margin-top: 20px;  
    text-align: center;
    text-transform: uppercase;
    color : white;
     justify-content: center;
}

.head:hover{
    box-shadow: 1px 1px 12px #DDA0DD;
}

.titre:hover{
    box-shadow: 1px 1px 12px #DDA0DD;
}
.title:hover{
    box-shadow: 1px 1px 12px #DDA0DD;
}

table {
    margin-bottom: 20px;
}

table, tr, th {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    padding: 5px 5px 5px 10px;
}

td {
    padding: 10px;
}

.name-order {
    background-color: #EC407A;
}

.list-order {
    background-color: #F3E5F5;
    background-size: 80%;
}

.list-order td:first-child {
    padding-left: 10%;
}

.price {
    text-align: right;
    padding-right: 20px;
}
