.head{
    background-color: #6A1B9A;
    width: calc(100% - 40px);
    padding: 20px;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.obligatoire{
    color:red;
}

.mail-warning {
    font-size : x-small;
}

.missing-field {
    text-align: center;
    font-size: small;
    color: red;
    font-weight: bold;
    margin: 0;
    width: 50%;
    margin-left: calc(30% + 1.5em);
}

.error-message {
    text-align: center;
    font-size: medium;
    margin: 0;
    margin-bottom: 20px;
    color: red;
}